<ion-header-bar class="bar-positive">
      <h1 class="title">Cerveza</h1>
</ion-header-bar>
<ion-content>
<ion-list>
  <ion-item ng-repeat="beer in beers" show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe"
          class="item item-thumbnail-left" href="/#beers/{{beer.id}}">
          <h2>{{beer.item_name}}</h2>
          <h4>{{beer.item_description}}%</h4>
  </ion-item>
  <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
</ion-list>
</ion-content>


